        <div class="topbar">
            <span class="br"><a href="http://m.ixiazai.me/">爱下载电影天堂手机版 <b>m.ixiazai.com</b></a></span>
        </div>
        <div class="top-box">
            <div class="logo"><a href="http://www.ixiazai.me/">爱下载电影天堂</a></div>
            <div class="search-box">
                <form method="post" action="/search">
                    <input class="key" name="keyword" type="text" />
                    <input type="submit" value="搜索一下" class="submit" />
                </form>
            </div>
        </div>
<div id="zhengwen">
<div class="new_nav">
<ul>
<li class="current"><a href="/" target="_self">首页</a></li>
<li><a href="/category?cid=1">最新动作片</a></li>
<li><a href="/category?cid=2">最新科幻片</a></li>
<li><a href="/category?cid=3">最新恐怖片</a></li>
<li><a href="/category?cid=4">最新喜剧片</a></li>
<li><a href="/category?cid=5">最新爱情片</a></li>
<li><a href="/category?cid=6">最新剧情片</a></li>
<li><a href="/category?cid=7">最新战争片</a></li>
<li class="dm"><a href="/category?cid=8">最新动漫</a></li>
<li class="dm"><a href="/category?cid=9">最新综艺</a></li>
</ul>
</div>
</div>
